html *
{
  font-family: 'Poppins', sans-serif !important;
}
body { 
 max-width: 100%;
  margin: 0 auto;
  padding: 2em; 
}

th
{
  font: 16px;
}
.expanding-table
{
    display:table;
    width:100%;
}

td 
{
background-color: #F0F0F0;
}

tr#row1
{
  border-radius: 15px;
 border-color: #F94144;
 background-color: lightgrey;
  width: 75%;
}

tr#row2
{
 background-color: #F9C74F;
  width: 75%;
}
tr#row3
{
 background-color: #90BE6D;
  width: 75%;
}
tr#row4
{
 background-color: #F9C74F;
  width: 75%;
}
tr#row5
{
 background-color: lightgrey;
  width: 75%;
}
tr#row6
{
 background-color: #F9C74F;
  width: 75%;
}
tr#row7
{
 background-color: #90BE6D;
  width: 75%;
}
tr#row8
{
 background-color: lightgray;
  width: 75%;
}
tr#row9
{
 background-color: #90BE6D;
  width: 75%;
}
tr#row10
{
 background-color: #F9C74F;
  width: 75%;
}



/* tr#row1
{
  border-radius: 15px;
 border-color: #F94144;
 background-color: lightgrey;
  width: 75%;
}

tr#row2
{
 background-color: #F3722C;
  width: 75%;
}
tr#row3
{
 background-color: #F8961E;
  width: 75%;
}
tr#row4
{
 background-color: #F9C74F;
  width: 75%;
}
tr#row5
{
 background-color: #90BE6D;
  width: 75%;
}
tr#row6
{
 background-color: #43AA8B;
  width: 75%;
}
tr#row7
{
 background-color: #577590;
  width: 75%;
}
tr#row8
{
 background-color: #43AA8B;
  width: 75%;
}
tr#row9
{
 background-color: #90BE6D;
  width: 75%;
}
tr#row10
{
 background-color: #F9C74F;
  width: 75%;
} */